.menu-toggle {
    --dd-menu-toggle-size: 18px;
    width: var(--dd-menu-toggle-size);
    height: var(--dd-menu-toggle-size);
    position: relative;
}

.menu-toggle > .menu-icon {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}

.menu-toggle > .menu-icon,
.menu-toggle::before,
.menu-toggle::after {
    display: block;
    height: 2px;
    width: 100%;
    background: currentColor;
    transition: all 0.5s ease;
}

.menu-toggle::before,
.menu-toggle::after {
    content: '';
    position: absolute;
}

.menu-toggle::before {
    top: 0;
}

.menu-toggle::after {
    bottom: 0;
}

.main-navigation.toggled .menu-icon,
.main-navigation.toggled .menu-toggle::before,
.main-navigation.toggled .menu-toggle::after {
    width: 25px;
}

.main-navigation.toggled .menu-toggle::before {
    transform: rotate(45deg) translate(4px, 8px);
}

.main-navigation.toggled .menu-icon {
    transform: translateX(calc((var(--dd-menu-toggle-size) * 2)));
    opacity: 0;
}

.main-navigation.toggled .menu-toggle::after {
    transform: rotate(-45deg) translate(4px, -7px);
}