.menu-toggle {
    --dd-menu-toggle-size: 18px;
    width: var(--dd-menu-toggle-size);
    height: var(--dd-menu-toggle-size);
}

.menu-toggle > .menu-icon {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}

.menu-toggle > .menu-icon > span {
    display: block;
    height: 1px;
    width: 100%;
    background: currentColor;
    transition: all 0.5s ease;
}

.site-header.toggled .menu-icon > span {
    width: 25px;
}

.site-header.toggled .menu-icon > .first {
    transform: rotate(45deg) translate(4px, 8px);
}

.site-header.toggled .menu-icon > .second {
    transform: translateX(calc((var(--dd-menu-toggle-size) * 2) * -1));
    opacity: 0;
}

.site-header.toggled .menu-icon > .third {
    transform: rotate(-45deg) translate(4px, -8px);
}