.menu-toggle > .menu-icon {
    display: inline-block;
    width: 40px;
    height: 36px;
    padding: 5px 7px;
    border-radius: 3px;
}

.main-navigation.toggled .menu-toggle > .menu-icon > span {
    background: #666;
}

.menu-toggle > .menu-icon > span {
    display: block;
    height: 3px;
    width: 100%;
    margin: 5px 0;
    background: #000;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main-navigation.toggled .menu-icon > .first {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 0;
    margin-top: 14px;
    width: 27px;
}

.main-navigation.toggled .menu-icon > .second {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 0;
    margin-top: -8px;
    width: 27px;
}

.main-navigation.toggled .menu-icon > .third {
    display: none;
}